body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {
    width: 70%;
    margin: 0 auto 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

.motivation-img {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 30px grey;
    width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 480px) {
    
    h1 {
        font-size: 2rem;
    }

    .poster {
        margin-top: 50%;
        width: 80%;
    }
}